<div class="flex justify-content-center">


    <h1>Registrering af arbejdstimer</h1>



    <p-calendar>
        [(ngModel)]="value" inline="true">
    </p-calendar>
    <h5>Inline</h5>

    <p-calendar [inline]="true" [showWeek]="true"></p-calendar>


    <h3>
        Antal timer arbejdet
    </h3>
    <input type="text" pInputText />


    <h3>
        Arbejdsbeskrivelse
    </h3>
    <div class="field col-12 md:col-4">
        <span class="p-float-label">
            <textarea inputId="textarea" rows="3" style="resize: none;" cols="30" [(ngModel)]="value10"
                pInputTextarea></textarea>
        </span>
    </div>
</div>